---
import { getCollection } from "astro:content";
import Tag from "./Tag.astro";

type Props = {
  tags?: string[];
  showCount?: boolean;
};

const { tags,showCount=true } = Astro.props;
const allPosts = await getCollection("memo");
const uniqueTags = tags ? tags : [...new Set(allPosts.map(post => post.data.tags).flatMap(tag => tag ?? []))].sort();
---

<div class="flex flex-wrap">
  {
    uniqueTags.map(tag => {
      const num = allPosts.filter(post => post.data.tags?.includes(tag)).length;
      return <Tag tag={tag} num={num} showCount={showCount} />;
    })
  }
</div>
