---
import { getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h3 class="mb-5 text-center text-4xl">一覧</h3>
  <PostList posts={posts} />
</BaseLayout>
