---
import { Icon } from "astro-icon/components";
interface Props {
  licenseText?: string;
}
const { licenseText = "null" } = Astro.props;
const licenseRaw = licenseText.toUpperCase().trim();
const validLicenses = ["CC0", "CC BY", "CC BY-SA", "CC BY-NC", "CC BY-NC-SA", "CC BY-ND", "CC BY-NC-ND"];
const license = validLicenses.includes(licenseRaw) ? licenseRaw : null;
const licenseWithNumber = license === "CC0" ? "CC0 1.0" : `${license} 4.0`;
let licenseUrl =
  license === "CC0"
    ? "https://creativecommons.org/publicdomain/zero/1.0/"
    : license
      ? `https://creativecommons.org/licenses/${license.slice(3)}/4.0`
      : null;
---

{
  license && (
    <div class="flex w-full justify-center">
      <div class="license flex flex-row text-sm">
        <div>This work is licensed under&nbsp;</div>
        <a rel="license" href={licenseUrl} class="inline-flex text-accent hover:text-base-content">
          <div>{licenseWithNumber}</div>
          <div class="mx-1 flex gap-px">
            <Icon class="h-full" name="fa6-brands:creative-commons" />
            {license.includes("CC0") && <Icon class="h-full" name="fa6-brands:creative-commons-zero" />}
            {license.includes("BY") && <Icon class="h-full" name="fa6-brands:creative-commons-by" />}
            {license.includes("NC") && <Icon class="h-full" name="fa6-brands:creative-commons-nc" />}
            {license.includes("SA") && <Icon class="h-full" name="fa6-brands:creative-commons-sa" />}
            {license.includes("ND") && <Icon class="h-full" name="fa6-brands:creative-commons-nd" />}
          </div>
        </a>
      </div>
    </div>
  )
}
