---
import type { Page } from "astro";
type Props = {
  page: Page;
  url: string;
};

const { page, url } = Astro.props;
const show = page.total > page.size;

let pages = [];
pages.push(1);

const startPage = Math.max(2, page.currentPage - 1);
const endPage = Math.min(page.lastPage - 1, page.currentPage + 1);

if (startPage > 2) {
  pages.push("...");
}

for (let i = startPage; i <= endPage; i++) {
  pages.push(i);
}

if (endPage < page.lastPage - 1) {
  pages.push("...");
}

pages.push(page.lastPage);
---

{
  show && (
    <div class="join">
      {pages.map(p => {
        if (p === "...") {
          return <a class="btn btn-disabled btn-outline join-item">...</a>;
        } else if (p === page.currentPage) {
          return <a class="btn btn-primary join-item">{p}</a>;
        } else {
          return (
            <a href={`${url}${p}`} class="btn btn-outline btn-primary join-item">
              {p}
            </a>
          );
        }
      })}
    </div>
  )
}
