---
import Search from "astro-pagefind/components/Search";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="検索" description="検索する">
  <h3 class="mb-5 text-center text-4xl font-bold">検索</h3>
  <div class="bg-white p-10">
    <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
  </div>
</BaseLayout>
