---
import Search from "../../components/Search/Search.tsx";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="検索" description="検索する">
  <h3 class="mb-5 text-center text-4xl">検索</h3>
  <Search client:load />
</BaseLayout>
