---
import TagList from "../../components/Tag/TagList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Tag一覧" description="Tag一覧ページです。">
  <h3 class="mb-5 text-center text-4xl">Tag一覧</h3>
  <TagList />
</BaseLayout>
